.h5tag{
    text-align: center;
    font-size: 26px;
}
.cart{
    padding: 25px;
    position: sticky;
    top: 0;
}
.btnclear{
    width: 90%;
    height: 56px;
    font-size: 21px;
    margin: 10px auto;
    background-color: blueviolet;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}